<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    配置整合mybatis-->
<!--    导入properties-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

<!--    数据库连接池-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close" id="abstractDataSource" abstract="true">
<!--        连接池属性-->

<!--        私有属性-->
        <property name="maxActive" value="30"/>
        <property name="minIdle" value="10"/>
    </bean>

    <bean id="master" parent="abstractDataSource">
        <property name="driverClassName" value="${jdbc_driver}"/>
        <property name="url" value="${jdbc_master_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_master_password}"/>
    </bean>

    <bean id="slave" parent="abstractDataSource">
        <property name="driverClassName" value="${jdbc_driver}"/>
        <property name="url" value="${jdbc_slave_url}"/>
        <property name="username" value="${jdbc_username}"/>
        <property name="password" value="${jdbc_slave_password}"/>
    </bean>
<!--    配置动态数据源，就是路由数据源所对应的名称-->
    <bean id="dynamicDataSource" class="cn.nyanpasus.o2o.dao.split.DynamicDataSource">
        <property name="targetDataSources">
            <map>
                <entry value-ref="master" key="master"/>
                <entry value-ref="slave" key="slave"/>
            </map>
        </property>
    </bean>

    <bean class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy" id="dataSource">
        <property name="targetDataSource" ref="dynamicDataSource"/>
    </bean>

<!--    SqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" ref="dataSource"/>
<!--        全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
<!--        扫描entity 使用别名-->
        <property name="typeAliasesPackage" value="cn.nyanpasus.o2o.entity"/>
<!--        sql配置文件 mapper配置文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

<!--    扫描DAO包-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="cn.nyanpasus.o2o.dao"/>
    </bean>
</beans>